body { 

                font-family: Arial, sans-serif;
                background-color:#15d5db;
                margin:0;
                padding:30px;


            }
                  .orden{
                    padding-left: 0;
                    list-style-position:inside ;

                  }


            .container {
               display: block;
               max-width:500px;
               margin:0 auto;
               padding:8px ;
               background-color:#46ff00;
               border-radius: 80px;
               box-shadow: 0 0 10px(0, 0, 100);

            }
            h1 {
               text-align: center;
               caret-color: rgb(233, 8, 8);
            }
            label {
                  display: block;
                  margin: 10px;
                  font-weight: bold;
            }
            input, textarea, select {
               width: 80%;
               padding: 8px;
               margin-bottom: 5px;
               border-radius: 2px;

            }
            input[type="submit"] {
                background-color:#001969;
                color: #000000;
                order: none;
                cursor: pointer;
            }

            input[ type="subimt"] :hover { 
               background-color:#1eff00;
            } 